language: scala
scala:
  - 2.11.7

jdk: oraclejdk7

env:
  global:
    - ANDROID_SDK=android-22

before_install:
 # Install base Android SDK
  - sudo apt-get update -qq
  - if [ `uname -m` = x86_64 ]; then sudo apt-get install -qq --force-yes libgd2-xpm ia32-libs ia32-libs-multiarch; fi
  - wget http://dl.google.com/android/android-sdk_r23.0.1-linux.tgz
  - tar xzf android-sdk_r23.0.1-linux.tgz
  - export ANDROID_HOME=$PWD/android-sdk-linux
  - export PATH=${PATH}:${ANDROID_HOME}/tools:${ANDROID_HOME}/platform-tools

  # Install required Android components.
  - echo y | android update sdk --filter platform-tools,extra-android-support,$ANDROID_SDK --no-ui --force

#android:
#  components:
#    - build-tools-23.0.1
#    - android-22
#    - extra

#recipes:
#  - android-sdk

#before_install:
#  - android-update-sdk --components=build-tools-23.0.1
#  - android-update-sdk --components=android-22
#  - android-update-sdk --components=extra